# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files and sensitive data
.env

# Ignore Git-related files
.git
.gitignore

# Ignore unnecessary config files
LICENSE

# Ignore OS specific files
.DS_Store

# Ignore logs
*.log
