# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment variable files and sensitive data
*.env
session_data.json

# Ignore system files
.DS_Store

# Ignore logs
*.log

# Ignore git files
.git
