streamlit
streamlit-option-menu
python-dotenv
Pillow
pdf2image
google-generativeai
crewai
crewai[tools]
load_dotenv
langchain-huggingface
huggingface_hub
PyPDF2
gradio
ollama
plotly
pandas
Matplotlib
aiohttp
